<section id="sidebar" class="col-md-3">
    <div id="sticky">
        <aside id="author" class="content-box">
            {% if site.author_image %}
            <a href="/"><img src="{{ site.author_image }}" alt="{{ site.author }}"></a>
            {% endif %}
            <h5>{{ site.author_name }}</h5>
            <p>{{ site.author_description }}</p>
            <hr>
            <nav id="navigation">
                <ul>
                    {% for page in site.pages %}
                      {% if page.title %}
                          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% for external_page in site.external_pages %}
                      {% if external_page.title %}
                          <li><a href="{{ external_page.url | prepend: site.baseurl }}">{{ external_page.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        {% if site.social_widget %}
        <aside id="social" class="content-box">
            <ul class="fa-ul">
              {% if site.github_username %}
              <li><i class="fa-li fa fa-github"></i><a href="https://www.github.com/{{ site.github_username }}">GitHub</a></li>
              {% endif %}

              {% if site.twitter_username %}
              <li><i class="fa-li fa fa-twitter"></i><a href="https://www.twitter.com/{{ site.twitter_username }}">Twitter</a></li>
              {% endif %}

              {% if site.weibo_username %}
              <li><i class="fa-li fa fa-weibo"></i><a href="https://www.weibo.com/{{ site.weibo_username }}">微博</a></li>
              {% endif %}

              {% if site.zhihu_username %}
              <li><i class="fa-li fa fa-globe"></i><a href="http://www.zhihu.com/people/{{ site.zhihu_username }}">知乎</a></li>
              {% endif %}

              {% if site.douban_username %}
              <li><i class="fa-li fa fa-globe"></i><a href="https://www.douban.com/people/{{ site.douban_username }}">豆瓣</a></li>
              {% endif %}
            </ul>
        </aside>
        {% endif %}
        {% if site.subscribe_widget %}
        <aside id="subscribe" class="content-box">
            <h5>Subscribe to posts</h5>
            <div class="form-group">
                <form action="{{ site.form_action }}" method="post" target="_blank">
                    <fieldset class="form-group">
                        <input id="subscription-email" name="EMAIL" class="form-control" type="email" placeholder="Email address" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ site.list_id }}" tabindex="-1" value=""></div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-block subscribe-button">Subscribe</button>
                </form>
            </div>
        </aside>
        {% endif %}
        {% if site.copyright_notice %}
        <aside id="copyright">
            <p>Copyright&copy; {{ site.time | date: "%Y" }} {{ site.author_name }}. All rights reserved.</p>
        </aside>
        {% endif %}
    </div>
</section>