---
layout: default
---
<article class="content-box post">
    <header>
        <h1>{{ page.title }}</h1>
        <p>By {{ page.author }} on <time pubdate datetime="{{ page.date | date: "%Y-%b-%-d" }}">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    <p>{{ content }}</p>
    <footer>
        {% if page.next.url %}
        <aside id="next_post">
            <a href="{{page.next.url}}">
                <div>
                  <span>Read This Next</span>
                  <h2>{{ page.next.title }}</h2>
                  <p>{{ page.next.content | markdownify | strip_html | strip_newlines | truncate: 160 }}</p>
                </div>
            </a>
        </aside>
        {% endif %}

        {% if site.subscribe_widget %}
        <button class="btn btn-primary btn-block subscribe-button subscribe-button-post">Subscribe to posts</button>
        {% endif %}

        {% if site.share_buttons %}
          <div class="bdsharebuttonbox">
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
            <a href="#" class="bds_more" data-cmd="more"></a>
          </div>
        {% endif %}
        
        {% if site.disqus_shortname %}
          <div id="disqus_thread"></div>
        {% endif %}

        {% if site.duoshuo_shortname %}
          <div class="ds-thread" data-thread-key="{{ page.path }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ site.duoshuo_shortname }}"};
          (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
             || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
          </script>
        {% endif %}
    </footer>
</article>
